# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/

# Data (adjust if you want some tracked)
data/raw/
outputs/
